{% extends 'demo_base.html' %}

{% block title %}Sona Framework: sample type demo{% endblock %}

{% block body %}
    here are base style applied to fonts:
    <h1>root: Heading 1</h1>
    <p>root: Some paragpaph text</p>
    <p>root: Another paragpaph text. This story started long time ago orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco lboris nisi ut aliquip ex ea commodo consequat. </p>
    <h2>root: Heading 2</h2>
    <h3>root: Heading 3</h3>
    <h4>root: Heading 4</h4>
    <h5>root: Heading 5</h5>
    <h6>root: Heading 6</h6>
    <header>
        here comes redefinition of stysles
        <h1>header: Heading 1</h1>
        <p>header: Some paragpaph text</p>
        <p>header: Another paragpaph text. This story started long time ago orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco lboris nisi ut aliquip ex ea commodo consequat. </p>
        <h2>header: Heading 2</h2>
        <h3>header: Heading 3</h3>
        <h4>header: Heading 4</h4>
        <h5>header: Heading 5</h5>
        <h6>header: Heading 6</h6>
        <section>
            <h1>neasted section redefinition: Heading 1</h1>
        </section>
    </header>
{% endblock body %}
