<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="ru"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}Sona Framework : Example using Less Framework to create responsive layout{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="shortcut icon" href="images/favicon.ico">

  {% if dev %}
    <script src="/js/libs/jquery-1.7.2.js"></script>
    <!-- link sona grid system js files -->
    <script src="/js/sona/css.js"></script>
    <script src="/js/libs/less-1.3.0.js"></script>
    <script src="/js/libs/prefixfree.min.js"></script>
    <script src="/js/libs/modernizr-2.5.3.js"></script>

    <!-- link to enable auto styles refresh -->
    <script src="/js/sona/less-watch.js"></script>
    <script src="/js/sona/grid_button.js"></script>
    <!-- include main dev.less file -->

    <script>
        css.load('/css/basic.less', 'stylesheet/less', 'dev_css');
    </script>
  {% else %}
    <link rel="stylesheet" type="text/css" href="/css/basic.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
    <script src="/js/libs/prefixfree.min.js"></script>
    <script src="/js/libs/modernizr-2.5.3.js"></script>
  {% endif %}
</head>

<body>
{% block body %}
  <div id="skip-link"><a href="#main-menu">Jump to Navigation</a></div>
  <div class="main_header_wrapper">
      <header class="main_header">
        <div class="main_logo">Sona Framework</div>
      </header>
  </div>

  <nav class="main_nav">
    <ul class="main_nav_list">
      <li><a href="#">Item 1</a></li>
      <li><a href="#">Item 2</a></li>
      <li><a href="#">Item 3</a></li>
      <li><a href="#">Item 4</a></li>
    </ul>
  </nav>
{% block content %}

  <section class="ind_content">
    <h1>Hi. I am important content, don't know what to type here. But certainly no lorem ipsum, because its sucks.</h1>
    <div class="button">Button</div>
    <div class="button disabled">Button</div>
    <div class="button small">Button</div>
    <div class="button medium">Button</div>
    <button class="button big">Button</button>
    <p>
      I was reading how Universities like Penn State etc. were buying domain names to prevent people from buying the .xxx version and having people mistakenly go their. So i decided to buy one for Westboro Baptist Church, a terrible cult that pickets dead soldier funerals and has the current domain name of GodHatesFags.com.
    </p>
    <p>
      Im hoping to reach out to r/atheism to help me sell this domain name to a porn website. Since they hate gays so much it would be even better for this to be a gay porn website. Having this domain name pop up under theirs on a google search would be the best possible scenerio.
    </p>
    <p>
      Cost me $107 to register. Anything over that i will donate to Doctors Without Borders since that seems to be a great organization r/atheism loves.
      edit: What if we used it to sell pixels and make a million dollars like "The Million Dollar Homepage" did? Sell pixels in for $1 in 10x10 blocks to porn websites. :) I know DWB would love a cool mil
    </p>
  </section>
    <section class="ind_something_with_two_columns_in_it">
        <article class="ind_article">
            <h2>And Less Framework</h2>
            <p>
              We’re working on something new over here. We’re stuck on the design for a certain screen. Over many months we’ve probably been through a dozen concepts with dozens of minor tweaks to those concepts.
            </p>
            <p>
              In all this work, and all the usage, and all the trials, and all the tweaks, I’ve spotted a pattern. Things that look good at the end of the day often don’t look good the next morning.
            </p>
            <h1>Largest heading</h1>
            <h2>This one little bit smaller</h2>
            <h3>Sona framework h3</h3>
            <h4>I don't usually use h5 and h6</h4>
        </article>

        <aside class="ind_aside">
          <hgroup>
            <h1>Aside</h1>
            <h4>Shifted with and equals eith article</h4>
          </hgroup>
            <ul>
                <li>Some notes</li>
                <li>For your consideration</li>
            </ul>
        </aside>
    </section>
{% endblock %}

  <div class="main_footer_wrapper">
      <footer class="main_footer">
        <p class="main_copyright">Sona Framework &#169; 2010-2011. Created by Alexandr Pokutnik and Ievgenii Lihovidov</p>
      </footer>
  </div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-31263022-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

  
{% endblock %}
</body>
</html>
